<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="flex-wrapper">

        {% include 'header.njk' %}
        <main>
            {{ content | safe }}
        </main>
        {% include 'footer.njk' %}

    </div>

    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }

    // about counter
    $(".counter-count").each(function () {
    $(this)
        .prop("Counter", 0)
        .animate(
        {
            Counter: $(this).text()
        },
        {
            //if you want to change counter speed then change duration
            duration: 1500,
            easing: "swing",
            step: function (now) {
            $(this).text(Math.ceil(now));
            }
        }
        );
    });


    </script>

</body>
</html>