<h1 class="text-center">{{ supporters.data.title | safe }}</h1>
<p class="text-center"><b>Bisher werden wir untersützt von:</b></p>
<div class="supporters-list">{{ supporters.data.content | safe }}</div>