<h1 class="text-center">{{ supporters.data.title | safe }}</h1>
<p class="text-center"><b>{{ supporters.data.description }}</b></p>
<div class="supporters-list">{{ supporters.data.body | debugger }}</div>