---
layout: 'base.njk'
---

<article class="main-article">
<div class="container flow">
  
    <h1 class="article-title">
      Über Uns
    </h1>
    <figure class="main-article__figure">
      <img loading="lazy" src="{{ image }}" alt="{{ imageAlt }}">
      <figcaption>
        {{ imageAlt}}
      </figcaption>
    </figure>
    
  <div class="about-wrapper">

    <div class="left grid-item">

      <p> 
        Wir sind eine Gemeinschaft aus Kulturschaffenden, Anwohnerinnen, Gewerbetreibenden und Gastronominnen, die sich das Ziel setzt, die soziokulturelle Entwicklung in und um die Sanderstraße in Würzburg aktiv mitzugestalten. 
        Besonders wichtig hierbei sind uns soziale, kulturelle und wirtschaftliche Aspekte. 
        Wir wollen der Politik klar formulierte Wünsche und ausgearbeitete Konzepte vorlegen und somit unsere Interessen nachhaltig vertreten.
      </p><br>

      <p>
        Unser Fokus liegt auf zwischenmenschlichem Austausch. 
        Die gesellschaftliche Entwicklung zur Schnelllebigkeit zeigt deutlich, wie wichtig das persönliche Gespräch ist und das nur im Miteinander tragfähige Konzepte entwickelt werden können. 
        Akuten Handlungsbedarf hierbei sehen wir derzeit bei nächtlichen Lautstärkeproblemen durch Nachtschwärmer in der Sanderstrasse.
      </p>

    </div>
    <div class="about-image grid-item">

      <img loading="lazy" src="/assets/blog/article-2.jpg" alt="">
    
    </div>

    <div class="about-image grid-item option-img">

      <img loading="lazy" src="/assets/blog/article-1.jpg" alt="">

    </div>

    <div class="right grid-item">

      <p>
        Der Zeitpunkt, uns jetzt zu organisieren könnte passender nicht sein: 
        Im Zuge der Pandemie ist der Kulturhunger und die Nutzung des kulturellen Angebotes zunehmend ins Bewusstsein gerückt. 
        Das sprichwörtliche Seuchenjahr 2020 hat uns verdeutlicht, dass gemeinschaftliches Auftreten und eine Bündelung unserer Kräfte und Ideen unabdingbar ist, um uns in allen relevanten Gremien Gehör zu verschaffen und mitzugestalten. 
        Die Kulturbranche als womöglich größter Verlierer der Pandemie bedarf nun, nachdem eine Rückkehr zur Normalität greifbar scheint, starker Unterstützung, Förderung und Wertschätzung. 
        Deshalb ist unser wichtigstes Ziel der Erhalt und die Weiterentwicklung der kulturellen Vielfalt in Würzburg allgemein und in der Sanderstrasse im Besonderen. 
      </p><br>

      <p>
        Ein erster Schritt zur Erreichung unserer Ziele besteht in der Bündelung unserer gemeinsamen Interessen, woraus schließlich eine adäquate und wortstarke Vertretung resultiert. 
        Wir wollen die Zukunft des Stadtlebens langfristig und positiv beeinflussen!
      </p>

    </div>
    
    <div class="left grid-item">

      <p>
        Gleichen Stellenwert haben für uns aber auch  die Etablierung der Nachhaltigkeit in Kulturräumen, eine bewusste Integration von Subkulturen, sowie die Förderung eines gemeinschaftlichen, gleichberechtigten Miteinanders. 
        Hierbei zählt auch der Kampf gegen Rassismus, Sexismus, Homophobie und jede Form von Diskriminierung.
      </p><br>
      
      <p>
        Nachdem Mitglieder unserer Gemeinschaft bereits 2019 binnen kürzester Zeit über 10.700 Unterschriften gegen die drohende Verlängerung der Sperrzeit in Würzburg sammeln konnten, gilt es nun in der Zeit, in der das kulturelle Leben nach 1,5 Jahren Pause wieder erwacht, erneut deutlich zu machen, welch hohen Wert Kultur, Subkultur und Nachtkultur in der Sanderstrasse darstellen. 
      </p>

    </div>

    <div class="about-image grid-item option-img">

      <img loading="lazy" src="/assets/blog/article-3.jpg" alt="">

    </div>


  </div>

  <div class="about-end">

      <p>
        <b>Du lebst, arbeitest oder schaffst Kultur in der Sanderstrasse und ihrer Umgebung?
        Dann werde jetzt Mitglied in der Interessengemeinschaft „Sanderstraße für Alle“ und gestalte die Zukunft mit uns!</b>
      </p><br>

    </div>  

  <p>PLATZHALTER NEWSLETTER</p><br>

</div>
  
</div>
</article>
