---
layout: 'base.njk'
---

<article class="main-article">
<div class="container flow">
  
    <h1 class="article-title">
      Über Uns
    </h1>
    <figure class="main-article__figure">
      <img loading="lazy" src="{{ image }}" alt="{{ imageAlt }}">
      <figcaption>
        {{ imageAlt}}
      </figcaption>
    </figure>
    
  <div class="about-wrapper">

    <div class="left grid-item">

      <span>
        Liebe Menschen aus der Sanderstraße und Umgebung,<br><br>
        gerne möchten wir uns hiermit als „Interessengemeinschaft Sanderstraße“ vorstellen: 
        Nach über anderthalb Jahren durften sich Kultur und Gastronomie, welche zu den am stärksten von der Pandemie betroffenen Bereichen des gesellschaftlichen Lebens zählen, jüngst wieder sechs Wochen zaghafte Hoffnung auf eine Rückkehr in den Alltag machen.
        Diese Hoffnung ist nun aufgrund der aktuellen Situation wieder zunichte gemacht worden und die nächsten Monate werden uns allen erneut das Äußerste abverlangen. 

      </span>

    </div>
    <div class="about-image grid-item">

      <img loading="lazy" src="/assets/blog/mateo-krossler--i1kxPDicSU-unsplash.jpg" alt="">
    
    </div>

    <div class="about-image grid-item option-img">

      <img loading="lazy" src="/assets/blog/robert-anasch-Sc5sXHhAFlg-unsplash.jpg" alt="">

    </div>

    <div class="right grid-item">

      <span>
        Wir möchten die Zeit während der erneuten Schließungen produktiv nutzen, um alle Menschen, die in der Sanderstraße leben, geschäftlich tätig sind oder arbeiten, an einen Tisch zu bringen: 
        Wir möchten den Dialog aufnehmen, allen Stimmen Gehör verschaffen, Problemen begegnen, bevor sie überhandnehmen und als gemeinsame Stimme an Politik und Behörden appellieren, unsere Ziele ebenfalls zu unterstützen. Diese sind unter anderem: 
      </span>

      <ul>
        <li>„Safer Party“ (in Zusammenarbeit mit DEHOGA)</li>
        <li>Kein Getränkekonsum auf der Straße</li>
        <li>Frei und kostenlos zugängliche WC-Möglichkeiten</li>
        <li>Einsatz von sog. „Ruhestifterinnen“ und „Ruhestiftern“ auf der Straße</li>
      </ul>

    </div>
    
    <div class="left grid-item">

      <span>
        In diesem Rahmen werden wir proaktiv und gemeinsam Regeln und Konzepte erarbeiten, u.a. zu folgenden weiteren Herausforderungen:
      </span>

      <ul>
        <li>Lärmproblematik durch Passantinnen und Passanten</li>
        <li>Müll und andere Hinterlassenschaften/li>
        <li>Direkte und einheitliche Kommunikation zwischen Anwohnerinnen/Anwohnern, Gastronomie, Politik und Behörden</li>
      </ul>

      <span>
        Anwohnerschaft sowie die traditionell fest in der Sanderstraße verwurzelte Gastronomie eint das gemeinsame Ziel, die Straße als vielschichtige Heimat von Kultur und Lebensqualität sowie als lebendige Basis eines diversen Würzburger Nachtlebens zu erhalten.
        Lasst uns diese herausfordernde Zeit nutzen, um potenziellen Problemen und negativen Entwicklungen in der Zukunft noch direkter, koordinierter und konsequenter begegnen zu können.
      </span>

    </div>

    <div class="about-image grid-item">

      <img loading="lazy" src="/assets/blog/daniel-sessler-GWOSR_NpqPg-unsplash.jpg" alt="">

    </div>


  </div>

  <div class="about-end">

      <span>
        Gemeinsam für eine lebhafte und attraktive Sanderstraße, die niemanden auf der Strecke lässt: <b>TAG & NACHT FÜR ALLE!</b><br><br> 
        Jede/r einzelne Unterstützer/in ist wichtig, da wir nur mit einem starken Rückhalt Gehör finden. 
        Um Dich namentlich auf unserer Website nennen zu können, sende uns bitte eine E-Mail an <a href="mailto:igsanderstrasse@gmail.com">igsanderstrasse@gmail.com</a> mit folgenden Angaben:
      </span><br>

      <ul> 
        <li>Betreff: Unterstützung Sanderstraße</li>
        <li>Vollständiger Name und Postleitzahl</li>
      </ul>

      <p><br>
        Gerne teilen! Tausend Dank! <br><br>
        Instagram-Seite bzw. Link folgt.<br>
        Liebe Grüße<br>Eure IG Sanderstraße
      </p>

  </div>  


</div>
  
</div>
</article>
