---
layout: 'base.njk'
---

<article class="contact-page">
<div class="container flow">
  
  <h1 class="article-title">
    Kontakt
  </h1> 
  
    
  <span>

    <article class="address" alt="Adresse">

        <h3>Sanderstraße Für Alle</h3>
        <p>Sanderstraße 1</p>
        <p>97070 Würzburg</p>

    </article>

    <p>Schreibe uns eine E-Mail an <a href="mailto:igsanderstrasse@gmail.com ">igsanderstrasse@gmail.com </a></p>

  </span>
  
</div>
</article>
