---
layout: 'base.njk'
---

<article class="contact-page">
<div class="container flow">
  
  <h1 class="article-title">
    Kontakt
  </h1> 
  
    
  <span>

    <article class="address" alt="Adresse">

        <p>Schreibe uns eine E-Mail an <a href="mailto:igsanderstrasse@gmail.com ">igsanderstrasse@gmail.com </a></p><br>

        <span>Um Dich namentlich auf unserer Website nennen zu können, sende uns bitte eine E-Mail mit folgenden Angaben:
        </span><br>

      <ul> 
        <li>Betreff: Unterstützung Sanderstraße</li>
        <li>Vollständiger Name und Postleitzahl</li>
      </ul>

      <span>Vielen Dank für deine Unterstützung!</span>

    </article>

    

  </span>
  
</div>
</article>
