---
layout: 'base.njk'
---

<article class="main-article">
<div class="container container--narrow flow">
  
  <h1 class="article-title">
    Kontakt
  </h1> 
  
    
  <span>

    <article alt="Adresse">

        <h3>Sanderstraße Für Alle</h3>
        <p>Sanderstraße 1</p>
        <p>97070 Würzburg</p>

    </article>

    <p>PLATZHALTER NEWSLETTER</p>

  </span>
  
</div>
</article>
