---
title: Sanderstraße Für Alle
description: description
layout: 'base.njk'
---
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Sanderstraße Für Alle!</h1>

        <p>
          Wir sind eine Gemeinschaft aus Kulturschaffenden, Anwohnerinnen, Gewerbetreibenden und Gastronominnen, die sich das Ziel setzt, die soziokulturelle Entwicklung in und um die Sanderstraße in Würzburg aktiv mitzugestalten. 
          Besonders wichtig hierbei sind uns soziale, kulturelle und wirtschaftliche Aspekte. 
          Wir wollen der Politik klar formulierte Wünsche und ausgearbeitete Konzepte vorlegen und somit unsere Interessen nachhaltig vertreten.
        </p>

        <p>
          Du lebst, arbeitest oder schaffst Kultur in der Sanderstrasse und ihrer Umgebung?
          Dann werde <b>jetzt</b> Mitglied in der Interessengemeinschaft „Sanderstraße für Alle“ und gestalte die Zukunft mit uns!
        </p>

        <div class="flex-group">
          <a href="./aboutus" class="btn btn--neutral">Weiterlesen</a>
          <a href="./contact" class="btn btn--primary">Mitmachen!</a>
        </div>
      </div>
      <div>
        <img src="assets/blog/220107_SFA01.png" alt="Ein Foto der Sanderstrasse" class="hero__image">
      </div>
  </div>
</section>

<section class="supporter">
  <div class="container flow">

      <h1 class="text-center">Unsere Supporter</h1>
<p class="text-center"><b>Bisher unterstützen uns:</b></p>
    <ul>
      <li>Adrian Lommel</li>
      <li>Alexander Bönisch</li>
      <li>Alexander Pfeffer</li>
      <li>Alina Vogel</li>
      <li>Andreas Schäfer</li>
      <li>Ben Bredenbröcker</li>
      <li>Bernhard Huber</li>
      <li>Cansu Tokmak</li>
      <li>Carolin Obermeier</li>
      <li>Carsten Schmitt</li>
      <li>Catrin Schiebel</li>
      <li>Christian Hupp</li>
      <li>Christoph Schiebel</li>
      <li>Dinah Oefelein</li>
      <li>Eva Anton</li>
      <li>Felicitas Haseidl</li>
      <li>Franziska Wagner</li>
      <li>Frederic Kleiber</li>
      <li>Helena Cremer</li>
      <li>Helge Specht</li>
      <li>Janna Ritter</li>
      <li>Julian Hippacher</li>
      <li>Julius Fecher</li>
      <li>Lea Höfling</li>
      <li>Lena Archner</li>
      <li>Lennart Schultze-Mosgau</li>
      <li>Lenya Schmitt</li>
      <li>Leon Deibert</li>
      <li>Luis Walter</li>
      <li>Lukas Behringer</li>
      <li>Lukas Kirchner</li>
      <li>Lukas Müller</li>
      <li>Manuel Bettinger</li>
      <li>Manuela Kunkel</li>
      <li>Marco Schiebel</li>
      <li>Martin Kühnberger</li>
      <li>Martin Steigert</li>
      <li>Maximilian Ullrich</li>
      <li>Melina Maukner</li>
      <li>Micha Centmayer</li>
      <li>Mira Pasemann</li>
      <li>Monika Stabel</li>
      <li>Moritz Benninger-Kruck</li>
      <li>Nico Segol</li>
      <li>Niklaus Tobias</li>
      <li>Pascal Reith</li>
      <li>Paul Stedele</li>
      <li>Paul Wagner</li>
      <li>Philip Schuster</li>
      <li>Philip Schmitt</li>
      <li>Raphael Niedt-Ginntauer</li>
      <li>Reinhilde Graber</li>
      <li>Sarah Reinhardt</li>
      <li>Sebastian Hanf</li>
      <li>Sebastian Seifert</li>
      <li>Selina Bohnenberger</li>
      <li>Sheila Brosig</li>
      <li>Simona Rahneva</li>
      <li>Sylvia Bettinger</li>
      <li>Tilman Horsinka</li>
      <li>Tobias Bönisch</li>
      <li>Tobias Roluch</li>
      <li>Tom Krieg</li>
      <li>Valentina Haspert</li>
      <li>Victoria Stewart</li>
      <li>Viola Scheibl</li>
    </ul>

  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    
    <h2 class="section-title text-center ">Blog</h2>
    
    <p class="text-center">Hier findet ihr Neuigkeiten rund ums Thema Sanderstraße Für Alle.</p>
    
    <div class="flex-group">
      <a href="./blog" class="btn btn--primary btn-center">Zum Blog</a>
    </div>

    <ul role="list" class="articles__list flow">

      {%- for post in collections.post | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}

    </ul>


  </div>
</section> 

    