---
title: Sanderstraße Für Alle
layout: 'base.njk'
---
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Sanderstraße Für Alle!</h1>

        <p>
          Wir sind eine Gemeinschaft aus Kulturschaffenden, Anwohnerinnen, Gewerbetreibenden und Gastronominnen, die sich das Ziel setzt, die soziokulturelle Entwicklung in und um die Sanderstraße in Würzburg aktiv mitzugestalten. 
          Besonders wichtig hierbei sind uns soziale, kulturelle und wirtschaftliche Aspekte. 
          Wir wollen der Politik klar formulierte Wünsche und ausgearbeitete Konzepte vorlegen und somit unsere Interessen nachhaltig vertreten.
        </p>

        <p>
          Du lebst, arbeitest oder schaffst Kultur in der Sanderstrasse und ihrer Umgebung?
          Dann werde <b>jetzt</b> Mitglied in der Interessengemeinschaft „Sanderstraße für Alle“ und gestalte die Zukunft mit uns!
        </p>

        <div class="flex-group">
          <a href="./aboutus" class="btn btn--primary">Weiterlesen</a>
          <a href="./contact" class="btn btn--neutral">Mitmachen!</a>
        </div>
      </div>
      <div>
        <img src="assets/blog/220107_SFA01.png" alt="Eine Foto der Sanderstrasse" class="hero__image">
      </div>
  </div>
</section>

<section class="supporter">
  <div class="container flow">
    
    <h1 class="text-center">Unsere Supporter</h1>
    
    <p class="text-center">
      <b>Bisher werden wir untersützt von:</b>
    </p>
    
    <ul class="supporters-wrapper">
      <li>Adrian Lommel</li>
      <li>Alexander Pfeffer</li>
      <li>Andreas Schäfer</li>
      <li>Bernhard Huber</li>
      <li>Cansu Tokmak</li>
      <li>Carsten Schmitt</li>
      <li>Catrin Schiebel</li>
      <li>Christian Hupp</li>
      <li>Christoph Schiebel</li>
      <li>Franziska Wagner</li>
      <li>Frederic Kleiber</li>
      <li>Helena Cremer</li>
      <li>Helge Specht</li>
      <li>Julian Hippacher</li>
      <li>Julius Fecher</li>
      <li>Lennart Schultze-Mosgau</li>
      <li>Luis Walter</li>
      <li>Lukas Kirchner</li>
      <li>Lukas Müller</li>
      <li>Manuel Bettinger</li>
      <li>Marco Schiebel</li>
      <li>Martin Kühnberger</li>
      <li>Martin Steigert</li>
      <li>Maximilian Ullrich</li>
      <li>Mira Pasemann</li>
      <li>Monika Stabel</li>
      <li>Moritz Benninger-Kruck</li>
      <li>Pascal Reith</li>
      <li>Philip Schuster</li>
      <li>Reinhilde Graber</li>
      <li>Sarah Reinhardt</li>
      <li>Sebastian Hanf</li>
      <li>Sebastian Seifert</li>
      <li>Selina Bohnenberger</li>
      <li>Sheila Brosig</li>
      <li>Tilman Horsinka</li>
      <li>Tom Krieg</li>
      <li>Valentina Haspert</li>
      <li>Viola Scheibl</li>
    </ul>

    

  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    
    <h2 class="section-title text-center ">Blog</h2>
    
    <p class="text-center">Hier findet ihr Neuigkeiten rund ums Thema Sanderstraße Für Alle.</p>
    
    <div class="flex-group">
      <a href="./blog" class="btn btn--primary btn-center">Zum Blog</a>
    </div>

    <ul role="list" class="articles__list flow">

      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}

    </ul>


  </div>
</section> 

    